.App {
  text-align: center;
}
a:hover {
  background-color: #0d6efd;
  color: white !important;
}

a[href="/volume"]:hover {
  cursor: pointer;
  background-color: transparent;
}

button.sidebar-button:hover {
  background-color: #0d6efd !important;
  color: white !important;
  border: none !important;
}

button:hover {
  background-color: #0d6efd;
  color: white;
  border: none;
}
.Main-button {
  background-color: #f1c93b;
  color: #213555;
  transition: all 0.5s ease;
  border: none;
  font-weight: 500;
}

.Main-button:hover {
  background-color: gray;
  color: white;
}
